services:
  backend:
    build:
      context: ./Back
      dockerfile: dockerfile
    volumes:
      - ./Back:/app
    working_dir: /app
    image: casaos/backend:latest
    environment:
      - DB_HOST=192.168.1.36
      - DB_USER=casaos
      - DB_PASSWORD=casaos
      - DB_NAME=casaos
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ./Front
      dockerfile: dockerfile
    volumes:
      - ./Front:/app
      - /app/node_modules
    image: casaos/frontend:latest
    working_dir: /app
    ports:
      - "4200:80"
    stdin_open: true
    tty: true
