/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

html {
    /* Establece un tamaño de fuente base más grande para móviles */
    font-size: 18px;

    /* En pantallas medianas y grandes, podemos ajustarlo si es necesario */
    @screen md {
        font-size: 16px;
        /* 1rem = 16px en pantallas de PC */
    }
}

input {
    &::placeholder {
        color: rgba(201, 201, 201, 0.75);
    }
}

/* Remove up/down spinners from number inputs used in the table */
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"] {
    -moz-appearance: textfield;
}